{% extends 'two-thirds-layout.njk' %}

{% from "input/macro.njk" import govukInput %}

{% block formContent %}
  {{ govukInput({
    label: {
      text: "Username"
    },
    id: "username",
    name: "username",
    type: "username"
  }) }}

  {{ govukInput({
    label: {
      text: "Password"
    },
    id: "password",
    name: "password",
    type: "password"
  }) }}
{% endblock %}